<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show personal page</title>
</head>
<body>

<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

<h1>Personal page</h1>
<p>
<p th:text="'ID: ' + ${person.getId()}">DATA</p>
<p th:text="'Name: ' + ${person.getName()}">DATA</p>
<p th:text="'Height: ' + ${person.getHeight()}">DATA</p>
<p>
    <a th:href="@{/admin/edituser?id={id}(id=${person.getId()})}">Edit user</a>
<p>
<form th:method="DELETE" th:action="@{/admin/delete?id={id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>